<div>
    <h1>{{user.name}}'s eCards</h1>

    <div>
        <a href="/users/{{user._id}}/eCards/new">Create New eCard</a>
    </div>
    <br>
    <div>
        {{#each user.userECards}}

            <div>
                <div>
                <h5>Name: {{this.cardName}}</h5>
                </div>
                <div>
                <h5>To: {{this.toPerson}}</h5>
                </div>
                <div>
                <h5>From: {{this.fromPerson}}</h5>
                </div>
                <div>
                <h5>Message: {{this.message}}</h5>
                </div>
            </div>
            <div>
                <a href="/users/{{../user._id}}/eCards/{{this._id}}">View eCard</a>
            </div>
        <br>
        {{/each}}
    </div>

</div>