<div>
    <h1>{{user.name}}'s eCards</h1>

    <div>
        <a href="/users/{{user._id}}/eCards/new">Create New eCard</a>
    </div>

    <div>
        {{#each user.userECards}}

            <div>
                {{this.cardName}}
                {{this.toPerson}}
                {{this.fromPerson}}
                {{this.message}}
            </div>
            <div>
                <a href="/users/{{../user._id}}/eCards/{{this._id}}">View eCard</a>
            </div>

        {{/each}}
    </div>

</div>