{{!-- DISPLAY USERS CARDS --}}
<div>
    <h1>{{user.name}}'s Cards</h1>
    <hr>
    <h3>{{user.name}}'s Printable Cards</h3>
    <br>
    {{#each user.printCards}}
        <div>
            {{this.cardName}}
            {{this.celebrant}}
        </div>
        <br>
    {{/each}}

    <h3>{{user.name}}'s eCards</h3>
    <br>
    {{#each user.eCards}}
        <div>
            {{this.cardName}}
            {{this.celebrant}}
        </div>
        <br>
    {{/each}}

</div>