{{!-- DISPLAY USERS CARDS --}}
<div class="container">
    <h1>{{user.name}}'s Cards</h1>
    <h4>Username: <a href="/users/{{userId}}">@{{user.username}}</a></h4>
    <div>
    <input type="submit" value="Edit User" onclick="window.location=`/users/{{user._id}}/edit`;" />
    <input type="submit" value="Delete User" onclick="window.location=`/users/{{user._id}}/delete`;" />
        <input type="submit" value="Back To Users" onclick="window.location=`/users`;" />
    </div>
    <hr>
{{!--     <h3><a href="{{user._id}}/printCards/">{{user.name}}'s Printable Cards</a></h3>
    <br>
    {{#each user.userPrintCards}}
        <div>
            {{this.cardName}}
        </div>
        <br>
    {{/each}} --}}

    <h3><a href="/users/{{user._id}}/eCards">{{user.name}}'s eCards</a></h3>
    
    <br>
    {{#each user.userECards}}
        <div>
            <br>
            <h5>{{this.cardName}}</h5>
        </div>
        <br>
    {{/each}}

    <a href="/printcards"><h3>View Printable Cards</h3></a>

</div>